body{
background:#050505;
color:white;
font-family:'Inter',sans-serif;
}

.content-header{

height:90px;

display:flex;
align-items:center;
justify-content:space-between;

padding:0 8%;

border-bottom:
1px solid rgba(255,255,255,.06);
}

.back-btn{

color:white;
text-decoration:none;

font-size:15px;
}

.logo{

font-size:1.8rem;
font-weight:800;

letter-spacing:4px;
}

.player-section{

padding:50px 8%;
}

.player-thumbnail{

height:650px;

border-radius:30px;

background-image:
url("images/premiere.jpg");

background-size:cover;
background-position:center;

display:flex;
align-items:center;
justify-content:center;

position:relative;

overflow:hidden;
}

.player-thumbnail::after{

content:"";

position:absolute;

inset:0;

background:
rgba(0,0,0,.25);
}

.play-button{

width:100px;
height:100px;

border-radius:50%;

display:flex;
align-items:center;
justify-content:center;

font-size:2rem;

background:
rgba(255,255,255,.15);

backdrop-filter:blur(20px);

position:relative;
z-index:2;

cursor:pointer;
}

.content-info{

padding:0 8% 60px;
}

.content-info h1{

font-size:3rem;

margin-bottom:30px;
}

.creator-row{

display:flex;
justify-content:space-between;
align-items:center;

margin-bottom:25px;
}

.creator-left{

display:flex;
align-items:center;

gap:15px;
}

.creator-avatar{

width:60px;
height:60px;

border-radius:50%;

background-image:
url("images/creator1.jpg");

background-size:cover;
}

.follow-btn{

padding:12px 24px;

border:none;

border-radius:999px;

color:white;

cursor:pointer;

background:
linear-gradient(
135deg,
#8b5cf6,
#d946ef
);
}

.content-meta{

display:flex;
gap:15px;

flex-wrap:wrap;

color:#a1a1aa;

margin-bottom:25px;
}

.description{

max-width:900px;

line-height:1.9;

color:#d4d4d8;
}

.action-bar{

padding:0 8% 80px;

display:flex;
gap:15px;

flex-wrap:wrap;
}

.action-bar button{

padding:14px 22px;

border:none;

border-radius:14px;

cursor:pointer;

background:
rgba(255,255,255,.06);

color:white;
}

.comments{

padding:0 8% 80px;
}

.comments h2{

margin-bottom:30px;
}

.comment-card{

padding:25px;

border-radius:20px;

margin-bottom:15px;

background:
rgba(255,255,255,.04);
}

.comment-card h4{

margin-bottom:10px;
}

.comment-card p{

color:#d4d4d8;
}

.related-content{

padding:0 8% 120px;
}

.related-content h2{

margin-bottom:30px;
}

.related-grid{

display:grid;

grid-template-columns:
repeat(auto-fit,minmax(260px,1fr));

gap:25px;
}

.related-card{

background:
rgba(255,255,255,.03);

padding:15px;

border-radius:20px;
}

.related-image{

height:200px;

border-radius:16px;

background-size:cover;
background-position:center;

margin-bottom:15px;
}

.related-1{
background-image:url("images/video2.jpg");
}

.related-2{
background-image:url("images/video3.jpg");
}

.related-3{
background-image:url("images/video4.jpg");
  }
